@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h5 class="text-center" style="color:lightgrey">Home/Register Kit</h5>
    <h1 class="text-center" style="color: #220c3c !important">Register Kit</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="jumbotron" style=" border-top-right-radius: 7%; border-top-left-radius: 7%;">
    <p class="text-center" style="color:darkgray">
       Welcom Sheeraz Ahmed
    </p>
   
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
<div class="row">
    <div class="col-lg-3 col-md-6 p-2">
        <div class="card bg-white text-white hvr-glow text-center">
            <div class="card-header text-center" style="background-color: #220c3c !important; ">
                Activate Home Test
            </div>
            <div class="card-body" style="min-height: 200px;">
                <p class="text-black-50">
                    You must register your home test kit prior to returning
                    it to the lab — this must be at the time you take your test.
                </p>
                <div class="mt-2">
                    <a  href="/Home/TestActivation" target="_blank" class="text-decoration">
                        <p class="text-primary font-weight-bold">Register your Test</p>

                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-2">
        <div class="card bg-white text-white hvr-glow text-center">
            <div class="card-header text-center" style="background-color: #220c3c !important; ">
                Test To Release
            </div>
            <div class="card-body" style="min-height: 200px;">
                <p class="text-black-50">
                    Day 5 Test to Release is available with the appropriate test.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-2">
        <div class="card bg-white text-white hvr-glow text-center">
            <div class="card-header text-center" style="background-color: #220c3c !important; ">
                Day 2/8 Testing for International Arrivals
            </div>
            <div class="card-body" style="min-height: 200px;">
                <p class="text-black-50">
                    In order to be able to complete your Passenger Locator Form prior to arriving in the UK, you are required to provide certain information.
                </p>
                <a href="">Get new Booking Reference</a>
                <p class="text-black-50">This section must be completed for each group member if applicable.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-2">
        <div class="card bg-white text-white hvr-glow text-center">
            <div class="card-header text-center" style="background-color: #220c3c !important; ">
                Active Virus Test
            </div>
            <div class="card-body" style="min-height: 200px;">
                <p class="text-black-50">
                    You have not had an Active Virus Test result.
                </p>
                <div class="mt-2">
                    <a href="/Home/TestActivation" target="_blank" class="text-decoration">
                        <p class="text-primary font-weight-bold">Register your Test</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    <br />
    <h3>History</h3>
<row>
    <div class="table">
        <table class="table table-hover table-bordered" width="100%">
            <thead>
               <tr style="background-color: #220c3c !important;">
                   <td class="text-white">Day </td>
                   <td class="text-white">Active Virus Test</td>
               </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</row>
</div>

