@{
    ViewBag.Title = "Test Activation";
}

<div class="jumbotron">
    <h5 class="text-center" style="color:lightgrey">Home/Register Kit</h5>
    <h1 class="text-center" style="color: #220c3c !important">Process Complete</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="jumbotron" style="  border-top-right-radius: 7%; border-top-left-radius: 7%;">
    <div class="row">
        <div class="col-lg-12 col-md-6 p-2">
            <div class="card  text-white hvr-glow text-center" style="background-color: #220c3c !important; ">

                <p class="text-white font-weight-bold">
                    <b>Sheeraz Ahmed</b> your registration process has been completed!
                </p>
            </div>
        </div>

    </div>
    <div class="row text-center">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <form class="pl-5 pr-5">

                <div class="form-group">
                    <label for="exampleInputEmail1">1. Write the following code on the sample tube as a secondary identifier</label>
                    <h3 class="text-center">B21-000-6000</h3>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">2. Write your Date of Birth on the sample tube as another identifier</label>
                    <h3 class="text-center">1979-01-01</h3>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">3. For future refenrence, the barcode on your sample kit was</label>
                    <h3 class="text-center">RT1231234</h3>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">3. International arrivals</label>
                    <small>You have entered data for the <b>day 5 test to release</b></small>
                    <small>Your booking reference is</small>
                    <h3 class="text-center">RTDDD2171317</h3>
                </div>

            </form>
        </div>
        <div class="col-md-2">

        </div>

    </div>
    <div class="row float-right">
        <a href="/Home/index" class="btn btn-primary float-right">Complete</a>
    </div>
</div>

