@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h5 class="text-center" style="color:lightgrey">Home/Register Kit</h5>
    <h1 class="text-center" style="color: #220c3c !important">Register Kit</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="jumbotron" style=" border-top-right-radius: 7%; border-top-left-radius: 7%;">
    <p class="text-center" style="color:darkgray">
        Depending on what type of kit you have, please click on one of the options below to register it with us
    </p>
    <p class="text-center" style="color:darkgray">
        If you have ordered a Day 2 Kit, a Day 2 Day 8 Kit or a Day 5 (Test to Release) Kit, by clicking on this registration link you will be transferred to our registration portal.
        Thereafter please follow the three simple steps below
    </p>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
<div class="row">
    <div class="col-lg-4 col-md-6 p-2">
        <div class="card bg-white text-white hvr-glow text-center">

            <div class="card-body">
                <a href="/Home/RegisterKit2" class="text-decoration">
                    <img width="131" style="border-radius: 50%;" height="131" src="https://www.rtdiagnostics.co.uk/wp-content/uploads/test-kit.png" class="attachment-full size-full" alt="" loading="lazy" />
                </a>
                <div class="mt-2">
                    <a href="/Home/RegisterKit2" class="text-decoration">
                        <p class="text-primary font-weight-bold">Day2 / Day2 & Day8 Kit</p>
                        <p style="color: #ff3f00 !important;">Register Kit</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 p-2">
        <div class="card bg-white text-white hvr-glow text-center">

            <div class="card-body">
                <a href="/Home/RegisterKit2" class="text-decoration">
                    <img width="131" style="border-radius: 50%;" height="131" src="https://www.rtdiagnostics.co.uk/wp-content/uploads/test-kit.png" class="attachment-full size-full" alt="" loading="lazy" />
                </a>
                <div class="mt-2">
                    <a href="/Home/RegisterKit2" class="text-decoration">
                        <p class="text-primary font-weight-bold">Day5 Test to reslease kit</p>
                        <p style="color: #ff3f00 !important;">Register Kit</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 p-2">
        <div class="card bg-white text-white hvr-glow text-center">

            <div class="card-body">
                <a href="/Home/RegisterKit2" class="text-decoration">
                    <img width="131" style="border-radius: 50%;" height="131" src="https://www.rtdiagnostics.co.uk/wp-content/uploads/test-kit.png" class="attachment-full size-full" alt="" loading="lazy" />
                </a>
                <div class="mt-2">
                    <a href="/Home/RegisterKit2" class="text-decoration">
                        <p class="text-primary font-weight-bold">Fit To Fly Kit</p>
                        <p style="color: #ff3f00 !important;">Register Kit</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

